<div id="question">

  <h1>Add a Question</h1>
  <p>select a book</p>
  <select style="width: 200px;>


      <% @books.each do |book| %>
      <option value="<%= book.Title %>"><%= book.Title %></option>
  <% end %>
  </select>
  <p>Endter your question</p>

  <textarea rows="4" cols="50">
    All question submissions will be viewed before being added to our list
  </textarea>
  <div id="buttons">
    <button class="w3-button w3-black w3-round-large">Submit</button>


  </div>
</div>