<div class="indexBody">
  <div id="answer">






    <h1>Answer</h1>
    <p>Lorem ipsum dolor sit amet, imperdiet suscipit sed. Nam in eros quis iaculis suspendisse in, dolor sed id odio, sit nulla elit enim consequat
      ante nulla, per venenatis lacus et, a leo vestibulum ut metus montes in. Turpis mattis nisl velit vel velit, venenatis taciti vestibulum in, vel eu eget.
      Sed nonummy accumsan eget, quam pretium quasi non, urna mauris sed auctor nam facilisi, feugiat tellus vel enim, nonummy at sed ut volutpat.

    </p>


    <div id="buttons">
      <button class="w3-button w3-black w3-round-large" style="float:right;" >Next Question</button>


    </div>
  </div>

  <div id="image"><img src="https://craigmod.com/images/journal/coccyx/aba-04.png"  height="300" width="200"></div>

</div>