<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
    body
    {
      margin: auto;
      width: 90%;
      background: #ced4dd;

    }
    #sitetitle{



    }

    #answer{

      width:60%;
      margin-top: 70px;
      float:right;
      margin-right:10px;

    }

    #image{

      width:30%;
      margin-top: 100px;
      margin-left:50px;


    }
    #buttons
    {
      margin-top: 40px;

    }
    ul {
      list-style-type: none;
      margin-top: 30px;

      padding: 0;
      overflow: hidden;


      float:right;
      margin-right: 30px;
      margin-left: 30px;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #111;
    }

    .w3-btn
    {
      width:150px;
    }
  </style>
</head>
<body>



<div id ="manu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/home/about">About</a></li>
    <li><a href="/home/contact">Contact</a></li>
    <li><a href="/books">Books</a></li>
    <li><a href="/levels">Levels</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/roles">Roles</a></li>
    <li><a href="/years">Years</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/questions">Questions</a></li>
  </ul>
</div>
<br>
<div id=sitetitle">
  <h2>Battle of The Books</h2>
</div>

<div style=" margin-top:30px; background: #ff7200; margin-left: auto; margin-right: auto; width:800px;height:500px;border:2px solid #3c3f42;">
  <div id="answer">






    <h1>Answer</h1>
    <p>Lorem ipsum dolor sit amet, imperdiet suscipit sed. Nam in eros quis iaculis suspendisse in, dolor sed id odio, sit nulla elit enim consequat
      ante nulla, per venenatis lacus et, a leo vestibulum ut metus montes in. Turpis mattis nisl velit vel velit, venenatis taciti vestibulum in, vel eu eget.
      Sed nonummy accumsan eget, quam pretium quasi non, urna mauris sed auctor nam facilisi, feugiat tellus vel enim, nonummy at sed ut volutpat.

    </p>


    <div id="buttons">
      <button class="w3-button w3-black w3-round-large" style="float:right;" >Next Question</button>


    </div>
  </div>

  <div id="image"><img src="https://craigmod.com/images/journal/coccyx/aba-04.png"  height="300" width="200"></div>

</div>
</body>
</html>