<div>
    <div id="question">

        <h1>How many Questions</h1>
        <p>Please enter a number between 1 and 50</p>



        <textarea   cols="30">
15
</textarea>
        <div id="buttons">
          <form action="/questions/randomquestion">
            <button type="submit"  class="w3-button w3-black w3-round-large">Get Started</button>
          </form>



        </div>
    </div>
</div>