    <div id="question">

        <h1>Question</h1>
        <p>Lorem ipsum dolor sit amet, dignissim ipsum quam quis vel non ut. Mus dictumst malesuada amet duis rutrum, laoreet ante dis, purus ornare, tempor porta. Porttitor aliquet maecenas convallis arcu lacinia ac, at mauris massa dictum mauris suspendisse consectetuer, eu vel quis consequat platea massa pellentesque, erat augue suscipit at sed phasellus velit. Sit nulla adipiscing elit eu, dictum pulvinar sem leo, faucibus a eu. Tristique felis sagittis scelerisque at cras justo, et nulla, quam pharetra tortor, ac in adipiscing et pellentesque felis.</p>




        <div id="buttons">
            <button class="w3-button w3-black w3-round-large" style=" float:right;">Get The Answer!</button>

            <div style="float:left;" >
                Time remaining :
                <textarea    rows="1" cols="2" >
15
</textarea>
            </div>
        </div>
    </div>