<h1>Battle!</h1>
<!--<p>Find me in app/views/battle/battle.html.erb</p>-->

<div id="questions" class="hideMe">
  <%= @questions %>
</div>
<div id="books" class="hideMe">
  <%= @books %>
</div>

<div id="askQuestion">

  <input type="hidden" id="questionIndex" />

  <h5>Question #<span class="questionNumber"></span>- <span id="question"></span></h5>
  <div id="timer"></div>
  <button id="displayAnswer">Answer</button>

</div>

<div id="showAnswer" class="hideMe">
  <h5>Answer #<span class="questionNumber"></span></h5>
  <h3 id="title"></h3>
  <h4 id="author"></h4>
  <button id="nextQuestion">Next Question</button>
</div>

<!--<script src="battle.js" type="javascript"></script>-->
<script>
  function nextQuestion(questions, books, questionIndex)
  {
    question = questions[questionIndex];
    book = books[questionIndex];
    qIndex = questionIndex * 1;
    qIndex = qIndex + 1;

    $("#questionIndex").val(qIndex);
    $("#question").html(question.Question);
    $("#title").html(book.Title);
    $("#author").html(book.Author);
    $(".questionNumber").html(qIndex);
  }

  $(document).ready(function(){

    var questions = $("#questions").html();
    questions = JSON.parse(questions);

    var books = $("#books").html();
    books = JSON.parse(books);

    $("#displayAnswer").click(function(){

      $("#showAnswer").removeClass("hideMe");
      $("#askQuestion").addClass("hideMe");

    });

    $("#nextQuestion").click(function(){

      qIndex = $("#questionIndex").val();

      if(qIndex < questions.length)
      {
        $("#showAnswer").addClass("hideMe");
        $("#askQuestion").removeClass("hideMe");
        nextQuestion(questions, books, qIndex);
      }
      else
      {
        alert("Done all questions");
      }

    });

    nextQuestion(questions, books, 0)

  });
</script>