<h2>Battle!</h2>
<p>There are many different types of battles. Here, we will give you the main option of being allowed to Battle!.
  That will be where you will see a question, and be able to see the answer. When time is up, an alert of some kind
  will pop up to indicate that time is in fact up.</p>
<p>There will eventually be a practice mode, in which you will be able to input the title and author, however this is
  currently unavailable.</p>
<p><%= link_to('Battle!', battle_how_many_path) %> | <%= link_to('Practice', battle_practice_path) %></p>