<h2>Battle!</h2>
<p>There are many different types of battles. Here, we will give you the main option of being allowed to Battle!. That will be where you will see a question, and be able to see the answer.</p>