<h1>Battle of the Books</h1>
<p>Welcome to the battle of the books website! Please note that we are currently not an official part of Woozles. Please
  visit <a href="http://www.woozles.com/">Woozles' Website Here</a> for more information.</p>